<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css.css">
</head>
<body id="cuerpo">
    <h1>hola que tal</h1>
    <div>
        <input type="text" id="hola">
        <div class="caja">
        <span>hola</span>
        </div>
    </div>
    



    <script>
        let cuerpo = document.getElementById("cuerpo")
        let input = document.getElementById("hola")
        let box = document.querySelector("caja")
        cuerpo.setAttribute("onclick", "test()")
        function test () {
            box.classList.add("active")
        }
    </script>
</body>
</html>